{% extends "layout.html.twig" %}

{% block body %}

    <a class="btn btn-danger" href="{{ path('equipment_home') }}" role="button">Retour à la liste des equipements</a>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}