{% extends "layout.html.twig" %}

{% block body %}

    <h2>Supprimer un équipement</h2>

    <p>
        Etes-vous certain de vouloir supprimer l'équipement "{{ equipment.name }}" ?
    </p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('equipment_home_delete', {'id': equipment.id}) }}" method="post">
        <a href="{{ path('equipment_home') }}" class="btn btn-sm btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste des equipements
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-sm btn-outline-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}