{% extends "layout.html.twig" %}

{% block body %}

    <div class="well">
        {{ form(form) }}
    </div>

    <a href="{{ path('room_home') }}" role="button">Retour à la liste des salles</a>

{% endblock %}