{% extends "layout.html.twig" %}

{% block body %}

    <a class="btn btn-danger" href="{{ path('room_home') }}" role="button">Retour à la liste des salles</a>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}