{% extends "layout.html.twig" %}

{% block body %}

    {% for result in results %}

    <div>
        {{ result.barCode|raw }}
        {{ result.barCodeName }}
    </div>
    {% endfor %}

{% endblock %}