{% extends "layout.html.twig" %}

{% block body %}

    {% for result in results %}

    <div style="border: 1px solid black; display: inline-block">
        {{ result.barCode|raw }}
        {{ result.barCodeName }}
    </div>
    {% endfor %}

{% endblock %}